.card_container {
  background-color: transparent;
  padding: 10px;
  width: 450px;
  height: auto;
  transition: all 0.5s ease-in-out;
  margin: 300px;
  margin-top: 0px;
  &_content {
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
	  align-content: space-between;
  }
}
