.card_container {
  background-color: transparent;
  padding: 10px;
  width: 450px;
  height: auto;
  transition: all 0.5s ease-in-out;
  position: fixed;
  margin-top: 20px;
  margin-left: 32%;
  &_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
