<div class="container">
  <div
    class="inputValue"
    title="É a soma dos valores informados nos campos abaixo."
  >
    <label class="label__left" for="tamanhoDaSenha"
      >Quantidade de Caracteres</label
    >
    <input
      class="input__sizepassword"
      type="text"
      name="tamanhoDaSenha"
      id="tamanhoDaSenha"
      maxlength="2"
      [value]="this.totalLengthInput"
    />
  </div>
  <div class="checkbox__container">
    <div class="checkbox__line">
      <input
        class="checkbox__check"
        (click)="isCheckedValid()"
        type="checkbox"
        name="capitalLetters"
        id="capitalLetters"
        #capitalLetters
      />
      <label class="checkbox__label" for="capitalLetters"
        >Incluir letras maiúsculas</label
      >
      <span *ngIf="upperCase">
        <label class="checkbox__label --marginLeft" for="upperCaseLetters"
          >Quantos caracteres?</label
        >
        <input
          class="checkbox__value"
          type="text"
          placeholder="0"
          name="upperCaseLetters"
          id="upperCaseLetters"
          maxlength="1"
          autocomplete="off"
          title="Iserir um valor entre 1 e 9"
          (input)="sumValues()"
          #upperCaseLetters
        />
      </span>
    </div>
    <div class="checkbox__line">
      <input
        class="checkbox__check"
        (click)="isCheckedValid()"
        type="checkbox"
        name="smallLetters"
        id="smallLetters"
        #smallLetters
      />
      <label class="checkbox__label" for="smallLetters"
        >Incluir letras minúsculas</label
      >
      <span *ngIf="lowerCase">
        <label class="checkbox__label --marginLeft" for="lowerCaseLetters"
          >Quantos caracteres?</label
        >
        <input
          class="checkbox__value"
          type="text"
          placeholder="0"
          name="lowerCaseLetters"
          id="lowerCaseLetters"
          maxlength="1"
          autocomplete="off"
          title="Iserir um valor entre 1 e 9"
          (input)="sumValues()"
          #lowerCaseLetters
        />
      </span>
    </div>
    <div class="checkbox__line">
      <input
        class="checkbox__check"
        (click)="isCheckedValid()"
        type="checkbox"
        name="numbers"
        id="numbers"
        #numbers
      />
      <label class="checkbox__label" for="numbers">Incluir números</label>
      <span *ngIf="number">
        <label class="checkbox__label --marginLeft1" for="number"
          >Quantos caracteres?</label
        >
        <input
          class="checkbox__value"
          type="text"
          placeholder="0"
          name="number"
          id="number"
          maxlength="1"
          autocomplete="off"
          title="Iserir um valor entre 1 e 9"
          (input)="sumValues()"
          #number

        />
      </span>
    </div>
    <div class="checkbox__line">
      <input
        class="checkbox__check"
        (click)="isCheckedValid()"
        type="checkbox"
        name="symbols"
        id="symbols"
        #symbols
      />
      <label class="checkbox__label" for="symbols">Incluir simbolos</label>
      <span *ngIf="symbol">
        <label class="checkbox__label --marginLeft1" for="symbol"
          >Quantos caracteres?</label
        >
        <input
          class="checkbox__value"
          type="text"
          placeholder="0"
          name="symbol"
          id="symbol"
          maxlength="1"
          autocomplete="off"
          title="Iserir um valor entre 1 e 9"
          (input)="sumValues()"
          #symbol
        />
      </span>
    </div>
  </div>
  <div class="container__strong">
    <p class="strong__tittle" [ngClass]="this.styleStrong">{{textStrong}}</p>
    <div>
      <p [ngClass]="this.styleColor"></p>
      <p [ngClass]="this.styleColor"></p>
      <p [ngClass]="this.styleColor"></p>
      <p [ngClass]="this.styleColor"></p>
    </div>
  </div>
  <button
    class="button"
    (click)="this.manipulateValues()"
    (click)="this.newPasswordEmit($event)"
  >
    GERAR SENHA
  </button>
</div>
