.container {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  margin-top: 15px;
  background: var(--Color-Dark-Grayish-Blue);
  padding: 20px;
  width: 96%;
  .checkbox__container {
    flex-direction: column;
    display: flex;
    align-self: baseline;
    gap: 10px;
  }

}
