<div class="container">
  <div>
    <label class="label__left" for="tamanhoDaSenha">Quantidade de Caracteres</label>
    <input class="input__sizepassword"
      type="text"
      name="tamanhoDaSenha"
      id="tamanhoDaSenha"
      value="0"
      oninput="rangeDaSenha.value=value"
      onchange="rangeDaSenha.value=value"
      />
  </div>
  <input class="input__range"
    type="range"
    name="rangeDaSenha"
    id="rangeDaSenha"
    min="0"
    max="16"
    value="0"
    oninput="tamanhoDaSenha.value=value"
    onchange="tamanhoDaSenha.value=value"

  />
  <div class="checkbox__container">
    <div class="checkbox__line">
      <input class="checkbox__check" type="checkbox" name="letraMaiuscula" id="letraMaiuscula">
      <label class="checkbox__label" for="letraMaiuscula">Incluir letras maiúsculas</label>
    </div>
    <div class="checkbox__line">
      <input class="checkbox__check" type="checkbox" name="letraMinuscula" id="letraMinuscula">
      <label class="checkbox__label" for="letraMinuscula">Incluir letras minúsculas</label>
    </div>
    <div class="checkbox__line">
      <input class="checkbox__check" type="checkbox" name="numeros" id="numeros">
      <label class="checkbox__label" for="numeros">Incluir números</label>
    </div>
    <div class="checkbox__line">
      <input class="checkbox__check" type="checkbox" name="simbolos" id="simbolos">
      <label class="checkbox__label" for="simbolos">Incluir simbolos</label>
    </div>
  </div>
  <div class="container__strong">
    <p class="strong__tittle">FORÇA</p>
    <div>
      <i>⌷</i>
      <i>⌷</i>
      <i>⌷</i>
      <i>⌷</i>
    </div>
  </div>
  <button class="button">GERAR SENHA</button>
</div>

