<div class="container">
  <div>
    <label for="tamanhoDaSenha">Quantidade de Caracteres</label>
    <input
      type="text"
      name="tamanhoDaSenha"
      id="tamanhoDaSenha"
      value="0"
      oninput="rangeDaSenha.value=value"
      onchange="rangeDaSenha.value=value"
      />
  </div>
  <input
    type="range"
    name="rangeDaSenha"
    id="rangeDaSenha"
    min="0"
    max="16"
    value="0"
    oninput="tamanhoDaSenha.value=value"
    onchange="tamanhoDaSenha.value=value"
    style="width: 100%;"
  />
  <div class="checkbox__container">
    <div>
      <input type="checkbox" name="" id="">
      <label for="">Incluir letras maiúsculas</label>
    </div>
    <div>
      <input type="checkbox" name="" id="">
      <label for="">Incluir letras minúsculas</label>
    </div>
    <div>
      <input type="checkbox" name="" id="">
      <label for="">Incluir números</label>
    </div>
    <div>
      <input type="checkbox" name="" id="">
      <label for="">Incluir simbolos</label>
    </div>
  </div>
</div>

