.container {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  margin-top: 15px;
  background: var(--Color-Dark-Grayish-Blue);
  padding: 20px;
  width: 96%;
  .label__left {
    margin-left: -78px;
    margin-right: 167px;
    font-size: 14px;
    font-weight: 500;
    color: var(--Color-Light-Cyan);
  }
  .input__sizepassword {
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    position: absolute;
    font-weight: 500;
    color: rgb(46, 95, 255);
    margin-left: 66px;
  }
  .input__range {
    width: 100%;
    cursor: pointer;
  }

  .checkbox__container {
    flex-direction: column;
    display: flex;
    align-self: baseline;
    gap: 10px;
    .checkbox__line {
      .checkbox__check {
        cursor: pointer;
      }
    }
    .checkbox__label {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--Color-Light-Cyan);
    }
  }
}
.container__strong {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--Color-Dark-Blue);
  width: 100%;
  .strong__tittle {
    font-size: 14px;
    font-weight: 700;
    color: var(--Color-Grayish-Blue);
    margin-left: 20px;
  }
  div {
    margin-left: 302px;
    i{
      color: var(--Color-Light-Cyan)
    }
  }
}
.button {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 50px;
  background-color: rgb(46, 95, 255);
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover{
    color:rgb(46, 95, 255);
    border: 1px solid rgb(46, 95, 255);
    background-color: transparent;
  }
}
