.container {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  margin-top: 15px;
  background: var(--Color-Dark-Grayish-Blue);
  padding: 20px;
  width: 96%;
  > div.inputValue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: var(--Color-Dark-Blue);
    width: 432px;
    height: 47px;
    cursor: pointer;
    .label__left {
      font-size: 14px;
      font-weight: 500;
      color: var(--Color-Light-Cyan);
      margin-left: -222px;
    }
    .input__sizepassword {
      background: transparent;
      outline: none;
      border: none;
      font-size: 20px;
      position: absolute;
      font-weight: 500;
      color: var(--Color-Light-Cyan);
      margin-left: 620px;
    }
  }

  .checkbox__container {
    flex-direction: column;
    display: flex;
    align-self: baseline;
    gap: 10px;
    .checkbox__line {
      .checkbox__check {
        cursor: pointer;
      }
    }
    .checkbox__label {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--Color-Light-Cyan);
    }
    .checkbox__value {
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 14px;
      position: absolute;
      font-weight: 500;
      color: var(--Color-Light-Cyan);
      width: 15px;
      text-align: center;
      margin-left: 7px;
    }
    input::placeholder {
      color: var(--Color-Light-Cyan);
    }
    .--marginLeft {
      margin-left: 79px;
    }
    .--marginLeft1 {
      margin-left: 136px;
    }
  }
  .container__strong {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--Color-Dark-Blue);
    width: 392px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    .strong__tittle {
      font-size: 14px;
      font-weight: 700;
      color: var(--Color-Grayish-Blue);
    }
    .redtype {
      color: red !important;
      font-weight: 600 !important;
    }
    .orangetype {
      color: orange !important;
      font-weight: 600 !important;
    }
    .yellowtype {
      color: yellow !important;
      font-weight: 600 !important;
    }
    .greentype {
      color: rgb(0, 255, 0) !important;
      font-weight: 600 !important;
    }

    div {
      display: inline-flex;
      p {
        width: 10px;
        height: 24px;
        border: 1px solid var(--Color-Light-Cyan);
      }
    }
  }
  .button {
    font-size: 14px;
    color: var(--Color-Light-Cyan);
    font-weight: 700;
    width: 100%;
    height: 50px;
    background-color: blue;
    border: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--Color-Light-Cyan);
      border: 1px solid blue;
      background-color: transparent;
    }
  }
  p {
    &.warning:nth-child(1) {
      background-color: red;
      border-color: red !important;
      transition: all 0.5s ease-in-out;
    }

    &.low-warning:nth-child(2) {
      background-color: orange;
      border-color: orange !important;
      transition: all 0.5s ease-in-out;
    }

    &.moderate:nth-child(3) {
      background-color: yellow;
      border-color: yellow !important;
      transition: all 0.5s ease-in-out;
    }

    &.strong:nth-child(4) {
      background-color:rgb(0, 255, 0);
      border-color:rgb(0, 255, 0) !important;
      transition: all 0.5s ease-in-out;
    }
  }
}
