.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  color: var(--Color-Light-Cyan);
  > input {
    border: none;
    background: var(--Color-Dark-Grayish-Blue);
    outline: none;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: var(--Color-Light-Cyan);
  }
  img {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 426px;
    margin-top: 40px;
    position: absolute;
  }
}
