* {
  font-family: "Manrope", sans-serif;
}

:root {
  --Color-Light-Cyan: hsl(193, 38%, 86%);
  --Color-Neon-Green: hsl(150, 100%, 66%);
  --Color-Grayish-Blue: hsl(217, 19%, 38%);
  --Color-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Color-Dark-Blue: hsl(218, 23%, 16%);
  --Color-Yellow-Warm: hsl(59, 94%, 51%);
  --Color-Red-Danger: hsl(0, 100%, 51%);
}

body {
  background-color: var(--Color-Dark-Blue);
}

html, body { height: 100%; }
body { margin: 0; font-family: "Manrope", "Helvetica Neue", sans-serif; }
